    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Get Quote</h2>
          <ol>
            <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a></li>
            <li>Get Quote</li>
          </ol>
        </div>

      </div>
    </section>
    <!-- End Breadcrumbs -->
    <div class="col-lg-12">
      
        <img style="width:100%;" src="/assets/img/getquote.jpg" alt="" class="img-responsive">
      
  </div>
  <div class="col-lg-12"></div>
<!-- ======= Our Clients Section ======= -->
<section id="clients" class="clients">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8">
        <form action="" class="" method="post">
          <div class="row">
            <div class="col-lg-6">
              <input type="text" name="name" placeholder="Your name" class="form-control" required>
            </div>
            <div class="col-lg-6">
              <input type="email" name="email" placeholder="Your email" class="form-control" required>
            </div>
            <div class="col-lg-6">
              <input type="text" name="phone" placeholder="Phone" class="form-control">
            </div>
            <div class="col-lg-6">
              <input type="number" name="passenger" placeholder="Passengers" class="form-control" required>
            </div>
            <div class="col-lg-5">
              <input name="date" type="date" placeholder="Desired Date and Time" class="form-control" required>
            </div>
            <div class="col-lg-5">
              <select id="tipo" name="tipo" class="form-control">
                <option>One Way</option>
                <option>By the hour</option>
              </select>
            </div>
            <div class="col-lg-2">
              <select name="horas" id="horas" class="form-control">
                <option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option>
              </select>
            </div>
            <div class="col-lg-6">
              <input id="from" name="from" type="text" placeholder="From" class="form-control" required>
            </div>
            <div class="col-lg-6">
              <input id="to" name="to" type="text" placeholder="To" class="form-control" required>
            </div>
            <div class="col-lg-12">
              <textarea name="mensaje" placeholder="Special Request" class="form-control" required></textarea>
              <button type="submit" class="btn btn-warning enviarbt">Send Message</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-lg-4">
    <div class="py-2">
      <img style="width:100%;" src="/assets/img/travelvip.png" alt="" class="img-responsive">
        
        <ul>
            <li>Miami, <br>Florida</li>
            <li>844-235-0168 </li>
            <li>305-204-6887</li>
            <li>info&commat;travelvipmiami.com</li>
            <li>info&#64;travelvipmiami.com</li>
        </ul>
    </div>
</div>
    

    </div>
  </div>
</section>

<!-- End Our Clients Section -->
