    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Sahred Shuttle</h2>
          <ol>
            <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a></li>
            <li>Shared Shuttle</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="about-us" class="about-us section-bg">
      <div class="container" data-aos="fade-up">
        <div class="text-center mb-3"><h2>TRAVEL VIP MIAMI</h2>The best in transportation service</div>
        <div class="row content mt-2">
          <div class="col-lg-6 justificar" data-aos="fade-right">
            <p>
              Welcome to TravelVIPMiami, your premier destination for seamless transportation services in Miami. 
              Explore our range of convenient and reliable transfer options, including hotel-to-port, port-to-hotel, hotel-to-airport, 
              and port-to-airport transfers. Choose from our shared shuttle or private transportation services for a personalized 
              and stress-free journey. Experience the best in port and airport transportation with TravelVIPMiami.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 cars" data-aos="fade-left">
            <img
              src="/assets/img/cars.png"
              alt="cars"
              class="img-fluid triple-car"
            />
          </div>
        </div>
      </div>
    </section>

<!-- ======= Testimonials Section ======= -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
        <div class="testimonial-item mt-4">
          <iframe src="https://travelvipmiami.com/home.php" width="100%" height="800px" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>

<!-- End Testimonials Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="testimonial-item mt-4 justificar">          
          <h2>Your Best Choice for Private Transportation.</h2>
          <p>At Travel VIP Miami, we take pride in providing the finest private transportation services. 
            Our commitment is to offer you a seamless and comfortable journey, ensuring your satisfaction every step of the way.</p>
          <p>At Travel VIP Miami, we take pride in providing premier transportation services. 
            Our commitment is to offer you a seamless and comfortable journey, ensuring your satisfaction every step of the way.</p>
          <p>Our dedication to excellence goes beyond just reaching your destination; it encompasses the entire travel experience. 
            From the moment you book our services, you can expect personalized attention and a level of service that exceeds your expectations. 
            We specialize in seamless transfers and transportation services, offering shuttles to ports and airports. 
            We understand that each journey is unique, and we tailor our services to meet your specific needs, making every trip with Travel VIP Miami 
            a memorable and enjoyable one.</p>          
        </div>
        <img src="/assets/img/pt1.jpg" alt="Imagen 1" style="width: 100%; height: auto;">
        <div class="text-center mt-3">
          <a [routerLink]="['/corporate']" routerLinkActive="router-link-active" class="form-control bg-danger quote-button"><h2>Get Quote</h2></a>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="testimonial-item mt-4 justificar">
          <h2>Why Choose Us?</h2>
          <h6>We stand out from the rest with the following features:</h6>
          <p><strong>Best Prices for Shared Transportation:</strong> Enjoy the lowest prices for shared transportation, making your travel affordable without compromising on quality.</p>
          <p><strong>Convenient Port and Airport Transfers:</strong> Whether you need transportation to or from the port or airport, we've got you covered. 
            Our reliable services ensure you reach your destination on time.</p>
          <p><strong>Comfortable and Well-Maintained Vehicles:</strong> Travel in style and luxury with our fleet of well-maintained vehicles, designed for your comfort and safety.</p>
          <p><strong>Experienced and Professional Drivers:</strong> Our drivers are highly trained, experienced, and committed to providing you with a safe and pleasant journey.</p>
          <p><strong>24/7 Customer Support:</strong> Have peace of mind knowing that our customer support is available around the clock to assist you with any inquiries or concerns.</p>          
        </div>
        <img src="/assets/img/pt2.jpg" alt="Imagen 2" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>
</section>

<!-- End Testimonials Section -->
