<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>About</h2>
      <ol>
        <li>
          <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
        </li>
        <li>About</li>
      </ol>
    </div>
  </div>
</section>
<!-- End Breadcrumbs -->

<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
  <div class="container" data-aos="fade-up">
    <div class="text-center"><h2>About Us</h2></div>
    <div class="row content">
      <div class="col-lg-6 justificar" data-aos="fade-right">
        <p>
          Travel Vip & Tour services, which has been operating as a new entity
          in the Hospitality Industry since March 2018. The staﬀ of Travel Vip &
          Tours is a group of experienced, friendly and professional individuals
          who strive to make your travel experience comfortable.
        </p>
        <p>
          We have partnered with reputable Hotels in Miami to oﬀer the best
          rates for groups and individual service packages.
        </p>
        <p>
          At Travel Vip & Tours, we oﬀer our clients the co-ordination of
          comprehensive travel itineraries even if you require a reservation at
          short notice. Our team of highly skilled staﬀ have been trained to
          understand client needs and oﬀer the best options available.
        </p>
        <p>
          We commit to adapt to the changing needs of business sectors and
          become a major player through satisfying specialized requirements of
          the small, medium and large organisations. We value honesty and
          integrity. With Travel Vip & Tours our clients can expect transparency
          in all our business dealings.
        </p>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 cars" data-aos="fade-left">
        <img
          src="/assets/img/cars.png"
          alt="cars"
          class="img-fluid triple-car"
        />
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->

<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
  <div class="container" data-aos="fade-up">
    <div class="text-center"><h2>OVER 60 HOTEL WORKING WITH US:</h2></div>
    <div class="row content">
      <ul class="col-lg-3 list1" data-aos="fade-right">
        <li>SAGAMORE</li>
        <li>WASHINGTON PARK HOTEL</li>
        <li>SHELBORNE SOUTH BEACH</li>
        <li>MONDRIAN SOUTH BEACH</li>
        <li>YVE</li>
        <li>THE GALE SOUTH BEACH</li>
        <li>THE GATES HOTEL SOUTH BEACH</li>
        <li>ONE HOTEL</li>
        <li>AC HOTEL</li>
        <li>ALDEN HOTEL</li>
        <li>ALEXANDER HOTEL</li>
        <li>NOVOTEL MIAMI BRICKELL</li>
        <li>ALOFT MIAMI - BRICKELL</li>
        <li>ALBION HOTEL</li>
        <li>ANGLERS</li>
        <li>AVALON HOTEL</li>
        <li>BEACON</li>
        <li>BOULAN</li>
        <li>BREAKWATER</li>
        <li>CASA BLANCA ON THE OCEAN</li>
        <li>CATALINA HOTEL</li>
        <li>CLINTON HOTEL</li>
      </ul>
      <ul class="col-lg-3 list2" data-aos="fade-right">
        <li>COURTYARD BY MARRIOT AVENTURA</li>
        <li>THE CONFIDANTE HOTEL</li>
        <li>CONGRESS HOTEL</li>
        <li>CONRAD HOTEL</li>
        <li>COURTYARD CADILLAC</li>
        <li>COMO METROPOLITAN</li>
        <li>DREAM HOTEL</li>
        <li>DELANO SOUTH BEACH</li>
        <li>DIPLOMAT BEACH RESORT</li>
        <li>DOUBLETREE RESORT BY HILTON HOLLYWOOD</li>
        <li>DREAM HOTEL</li>
        <li>THE MIAMI BEACH EDITION HOTEL</li>
        <li>ESSEX HOUSE MIAMI</li>
        <li>FAIRWIND HOTEL MIAMI</li>
        <li>HAMPTON INN HALLANDALE BEACH</li>
        <li>HILTON BENTLEY</li>
        <li>MARRIOTT HOLLYWOOD BEACH RESORT</li>
        <li>HYATT BRICKELL</li>
        <li>HYDE RESORT AND RESIDENCES</li>
        <li>INTERCONTINENTAL HOTELS & RESORT</li>
        <li>JW MARRIOTT MIAMI</li>
        <li>THE KENT HOTEL</li>
      </ul>
      <ul class="col-lg-3 list3" data-aos="fade-right">
        <li>KIMPTON SURFCOMBER</li>
        <li>EUROSTARS LANGFORD HOTEL</li>
        <li>LOEWS MIAMI BEACH</li>
        <li>LOMBARDY INN</li>
        <li>MAJESTIC HOTEL</li>
        <li>RAMADA PLAZA MARCO POLO</li>
        <li>MARGARITAVILLE HOLLYWOOD BEACH RESORT</li>
        <li>THE MARLIN HOTEL</li>
        <li>MARRIOTT CADILLAC</li>
        <li>HOLLYWOOD BEACH MARRIOTT</li>
        <li>MARRIOTT STANTON</li>
        <li>THE GABRIEL HOTEL</li>
        <li>MIAMI SUN HOTEL</li>
        <li>NATIONAL HOTEL</li>
        <li>NAUTILUS HOTEL</li>
        <li>NEWPORT BEACHSIDE RESORT</li>
        <li>OCEAN FIVE</li>
        <li>OCEAN SPRAY</li>
        <li>OCEANSIDE</li>
        <li>OCEAN REEF &amp; SUITES</li>
        <li>OCEAN REEF SUITES</li>
      </ul>
      <ul class="col-lg-3 pt-4 pt-lg-0 list4" data-aos="fade-left">
        <li>PARK ROYAL</li>
        <li>PELICAN</li>
        <li>PESTANA</li>
        <li>THE REDBURY</li>
        <li>RESIDENCE INN SURFSIDE</li>
        <li>RIVIERA SOUTH BEACH</li>
        <li>SAN JUAN 1680 COLLINS AVE</li>
        <li>THE LOCAL HOUSE</li>
        <li>SHERRY FRONTENAC</li>
        <li>SHORE CLUB</li>
        <li>SIXTY SIXTY HOTEL</li>
        <li>SLS BRICKELL HOTEL & RESIDENCE</li>
        <li>SOLE ON THE OCEAN</li>
        <li>STARLITE MIAMI</li>
        <li>THE STILES</li>
        <li>THE GRAND DOUBLETREE</li>
        <li>THE HOTEL</li>
        <li>TRUMP INTERNATIONAL BEACH RESORT</li>
        <li>VICTOR HOTEL</li>
        <li>W SOUTH BEACH</li>
        <li>WALDORF HOTEL</li>
      </ul>
    </div>
  </div>
</section>
<!-- End About Us Section -->
