<!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Private Tours</h2>
          <ol>
            <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a></li>
            <li>Private Tours</li>
          </ol>
        </div>

      </div>
    </section>
<!-- End Breadcrumbs -->
<!-- ======= Miami Private Tours ======= -->
        <section id="contact" class="contact mb-4 fcontact">
          <div class="container">
            <div class="section-title" style="color: #1bbd36;"><h2>MIAMI PRIVATE TOUR</h2></div> 
            <div class="row wrapper justify-content-center" data-aos="fade-up">
                <form method="post" class="php-email-form">
                  <div class="row">
                    <div class="col-md-4 form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" name="" id="" placeholder="Full Name" required>
                    </div>                    
                    <div class="col-md-2 form-group mt-3 mt-md-0">
                      <label>Date Pickup</label>
                      <input type="date" class="form-control" name="" id="" required>
                    </div>
                    <div class="col-md-1 form-group mt-3 mt-md-0">
                      <label>Persons</label>
                      <input type="number" class="form-control" name="" id="" value="4" min="4" required>
                    </div>
                    <div class="col-md-1 form-group mt-3 mt-md-0">
                      <label>Hours</label>
                      <input type="number" class="form-control" name="" id="" value="3" min="3" max="4" required>
                    </div>                    
                    <div class="col-md-4 form-group mt-3 mt-md-0">
                      <label>Address</label>
                      <input type="text" class="form-control" name="" id="" placeholder="Enter your location " required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="text-center">
                      <button type="submit" class="boton">Book Now!<br>$</button>
                    </div>
                  </div>       
                </form>
              </div>    
            </div>
        </section>
<!-- ======= Fin Miami Private Tours ======= -->

<!--private tour images-->
<section id="about-us" class="about-us">
  <div class="container" data-aos="fade-up">
    <div class="row content">
      <div class="col-lg-4 justificar" data-aos="fade-right">
        <img
          src="/assets/img/tours/1.jpg"
          alt="tour 1"
          class="img-fluid mb-3 f-tour"
        />
        <p class="text-justify">
          On this tours you will experience the very best what Miami has to offer. 
          Enjoy a fantastic experience and explore the historic areas of the Magic City.
        </p>
      </div>
      <div class="col-lg-4 pt-4 pt-lg-0 cars" data-aos="fade-left">
        <img
          src="/assets/img/tours/2.jpg"
          alt="tour 2"
          class="img-fluid mb-3 f-tour"
        />
        <p class="text-justify">
          This tour is the best option for first time visitors or business travelers.
        </p>
      </div>
      <div class="col-lg-4 pt-4 pt-lg-0 cars" data-aos="fade-left">
        <img
          src="/assets/img/tours/3.jpg"
          alt="tour 3"
          class="img-fluid mb-3 f-tour"
        />
        <p class="text-justify">
          Visit world famous Ocean Drive, Coconut Grove and Coral Gables, and Little Havana.
        </p>
      </div>
    </div>
  </div>
</section>
<!--fin private tour images-->

<!-- ======= Everglades Private Tours ======= -->
<section id="contact" class="contact mb-4 fcontact2">
  <div class="container">
    <div class="section-title" style="color: #1bbd36;"><h2>EVERGLADES PRIVATE TOUR</h2></div> 
    <div class="row wrapper justify-content-center" data-aos="fade-up">
        <form method="post" class="php-email-form">
          <div class="row">
            <div class="col-md-3 form-group">
              <label>Name</label>
              <input type="text" class="form-control" name="" id="" placeholder="Full Name" required>
            </div>                    
            <div class="col-md-2 form-group mt-3 mt-md-0">
              <label>Date Pickup</label>
              <input type="date" class="form-control" name="" id="" required>
            </div>
            <div class="col-md-3 form-group mt-3 mt-md-0">
              <label>Persons</label>
              <select class="form-control lista" name="" id="" required>
                <option value="385">1-4 People </option>
                <option value="466">5-6 People </option>
                <option value="688">7-10 People </option>
                <option value="895">11-15 People </option>
                <option value="1095">16-20 People </option>
              </select>
            </div>                 
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <label>Address</label>
              <input type="text" class="form-control" name="" id="" placeholder="Enter your location " required>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <button type="submit" class="boton">Book Now!<br>$</button>
            </div>
          </div>       
        </form>
      </div>    
    </div>
</section>
<!-- ======= Fin Everglades Private Tours ======= -->

<!--everglades images-->
<section id="about-us" class="about-us">
  <div class="container" data-aos="fade-up">
    <div class="row content">
      <div class="col-lg-4 justificar" data-aos="fade-right">
        <img
          src="/assets/img/everglades/eg1.jpg"
          alt="tour 1"
          class="img-fluid mb-3 f-tour"
        />
        <p class="text-justify" style="text-align: justify;">
          Everglades National Park was established in 1947 to preserve the biological diversity and resources of the South Florida wetlands. 
          The Everglades is home to the Florida Panther, one of the most endangered species on earth. 
          There are currently less than 100 remaining. There are at least nine different ecosystems that work together to sustain life in the 
          Everglades. These include coastal mangroves, pine flatwoods, hardwood hammocks, and freshwater marl prairies. 
          These ecosystems compose the most important breeding grounds for tropical wading birds on the continent.
        </p>
        <p class="text-justify" style="text-align: justify;">
          This private tour includes an extended one-hour airboat adventure as well as all of our animal exhibits. 
          You get to visit exclusive locations in the Everglades and are able to see a variety of exotic and native animals on your private 
          Everglades airboat tour.
        </p>
      </div>
      <div class="col-lg-4 pt-4 pt-lg-0 cars" data-aos="fade-left">
        <img
          src="/assets/img/everglades/eg2.jpg"
          alt="tour 2"
          class="img-fluid mb-3 f-tour"
        />
        <p style="text-align: center;">
          <strong>Included</strong> 
          </p>
          <ul>
          <li><i class='bx bxs-right-arrow'></i> Private Transportation</li>

          <li><i class='bx bxs-right-arrow'></i> Private Airboat Tour</li>

          <li><i class='bx bxs-right-arrow'></i> Experienced Tour Guide</li>

          <li><i class='bx bxs-right-arrow'></i> Live commentary on board</li>
          </ul>
        
      </div>
      <div class="col-lg-4 pt-4 pt-lg-0 cars" data-aos="fade-left">
        <img
          src="/assets/img/everglades/eg3.jpg"
          alt="tour 3"
          class="img-fluid mb-3 f-tour"
        />
        <p style="text-align: center;">
          <strong>Excluded</strong>
        </p>
        <ul>
          <li><i class='bx bxs-right-arrow'></i>  Gratuity to the guide.</li>
          <li><i class='bx bxs-right-arrow'></i>  Lunch</li>
        </ul>
        <p style="text-align: justify;">
          For a full refund, cancel at least 24 hours in advance of the start date of the experience. 
          This experience requires good weather. If it’s canceled due to poor weather, 
          you’ll be offered a different date or a full refund.
        </p>
      </div>
    </div>
  </div>
</section>
<!--everglades images-->

<!-- ======= Keywest Private Tours ======= -->
<section id="contact" class="contact mb-4 fcontact3">
  <div class="container">
    <div class="section-title" style="color: #1bbd36;"><h2>KEYWEST PRIVATE TOUR</h2></div> 
    <div class="row wrapper justify-content-center" data-aos="fade-up">
        <form method="post" class="php-email-form">
          <div class="row">
            <div class="col-md-4 form-group">
              <label>Name</label>
              <input type="text" class="form-control" name="" id="" placeholder="Full Name" required>
            </div>                    
            <div class="col-md-2 form-group mt-3 mt-md-0">
              <label>Date Pickup</label>
              <input type="date" class="form-control" name="" id="" required>
            </div>
            <div class="col-md-1 form-group mt-3 mt-md-0">
              <label>Persons</label>
              <input type="number" class="form-control" name="" id="" value="7" min="7" required>
            </div>                
            <div class="col-md-5 form-group mt-3 mt-md-0">
              <label>Address</label>
              <input type="text" class="form-control" name="" id="" placeholder="Enter your location " required>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <button type="submit" class="boton">Book Now!<br>$</button>
            </div>
          </div>       
        </form>
      </div>    
    </div>
</section>
<!-- ======= Fin Keywest Private Tours ======= -->

<!--keywest images-->
<section id="about-us" class="about-us">
  <div class="container" data-aos="fade-up">
    <div class="row content">
      <div class="col-lg-4 justificar" data-aos="fade-right">
        <img
          src="/assets/img/keywest/k1.jpg"
          alt="tour 1"
          class="img-fluid mb-3 f-tour"
        />
        <p class="text-justify" style="text-align: justify;">
          EKey West is the Southernmost City of the contiguous United States, is a four by two mile island, 159 miles southwest of Miami, 
          90 miles north of Cuba and 755 miles further south than Los Angles. Bordered by both the Atlantic Ocean and the Gulf of Mexico, 
          Key West lends to wonderful, soothing tropical breezes. Your travels take you over 43 bridges from Florida City to Key West. 
          Drive is approximately 4 hours each way in the town with overview tour. More hours can be added for dinner.
        </p>
      </div>
      <div class="col-lg-4 pt-4 pt-lg-0 cars" data-aos="fade-left">
        <img
          src="/assets/img/keywest/k2.JPG"
          alt="tour 2"
          class="img-fluid mb-3 f-tour"
        />
        <p style="text-align: center;">
          <strong>Trip Details</strong> 
          </p>
          <ul>
          <li><i class='bx bxs-right-arrow'></i> Pick up at your convenience time.</li>

          <li><i class='bx bxs-right-arrow'></i> We can stop before the 7 mile bridge as each side reveals water so clear that you want to step into it.</li>

          <li><i class='bx bxs-right-arrow'></i> It takes 4 hours to get to the farthest point, Key West.</li>
          </ul>
        
      </div>
      <div class="col-lg-4 pt-4 pt-lg-0 cars" data-aos="fade-left">
        <img
          src="/assets/img/keywest/k3.jpg"
          alt="tour 3"
          class="img-fluid mb-3 f-tour"
        />
        <p style="text-align: center;">
          <strong>Included</strong>
        </p>
        <ul>
          <li><i class='bx bxs-right-arrow'></i>  Tour Guide.</li>
        </ul>
        <p style="text-align: center;">
          <strong>Excluded</strong>
        </p>
        <ul>
          <li><i class='bx bxs-right-arrow'></i>  Gratuity to the guide.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--keywest images-->