<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <!-- inicio navbar -->
    <h1 class="logo me-auto">
      <a [routerLink]="['/']" routerLinkActive="router-link-active"><span>Miami</span>Transfert</a>
    </h1>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a [routerLink]="['/']" routerLinkActive="router-link-active"  class="active">Home</a></li>
        <li><a [routerLink]="['/privateservices']" routerLinkActive="router-link-active" >Private Services</a></li>
        <li><a [routerLink]="['/privatetours']" routerLinkActive="router-link-active" >Private Tours</a></li>
        <li><a [routerLink]="['/getquote']" routerLinkActive="router-link-active" >Get Quote</a></li>
        <li><a href="https://conciergehotline.net/">Tours & Activities</a></li>
        <li><a [routerLink]="['/sharedshuttle']" routerLinkActive="router-link-active">Shared Shuttle</a></li>
        <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- Final navbar -->
  </div>
</header>
<!-- End Header -->

