<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Seaport</h2>
      <ol>
        <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a></li>
        <li>Seaport</li>
      </ol>
    </div>

  </div>
</section>
<!-- End Breadcrumbs -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            To Airport
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row">
              <div class="form-group col-lg-4">
                <label for="input1">From:</label>
                <select name="input1" id="input1" class="form-control">
                <option value="">Select Port</option>
                <option value="">Port Everglades, Fort Lauderdale</option>
                <option value="">Port of Miami, Miami, Florida, EE. UU.</option>
                <option value="">Port of Palm Beach</option>
                </select>
              </div>
              <div class="form-group col-lg-8">
                <label for="input2">To:</label>
                <select name="input2" id="input2" class="form-control">
                  <option value="">Miami International Airport (MIA), Northwest 42nd Avenue, Miami, Florida, EE. UU.</option>
                  <option value="">Fort Lauderdale-Hollywood International Airport (FLL), Terminal Drive, Fort Lauderdale, Florida, EE. UU.</option>
                  </select>
              </div>
            </div>
              <div class="row mt-2">
              <div class="form-group col-lg-3">
                <button type="button" class="toairport btn btn-primary mx-2"><i class="bx bx-trip"> </i> Miles</button>
                <button type="button" class="toairport btn btn-primary"> <i class="bi bi-clock"> </i> Seconds</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            To Hotel
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row">
              <div class="form-group col-lg-4">
                <label for="input1">From:</label>
                <select name="input1" id="input1" class="form-control">
                <option value="">Select Port</option>
                <option value="">Port Everglades, Fort Lauderdale</option>
                <option value="">Port of Miami, Miami, Florida, EE. UU.</option>
                <option value="">Port of Palm Beach</option>
                </select>
              </div>
              <div class="form-group col-lg-8">
                <label for="input2">To:</label>
                <select name="input2" id="input2" class="form-control">
                  <option value="">Miami International Airport (MIA), Northwest 42nd Avenue, Miami, Florida, EE. UU.</option>
                  <option value="">Fort Lauderdale-Hollywood International Airport (FLL), Terminal Drive, Fort Lauderdale, Florida, EE. UU.</option>
                  </select>
              </div>
            </div>
              <div class="row mt-2">
              <div class="form-group col-lg-3">
                <button type="button" class="toairport btn btn-primary mx-2"><i class="bx bx-trip"> </i> Miles</button>
                <button type="button" class="toairport btn btn-primary"> <i class="bi bi-clock"> </i> Seconds</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Enter Your Destination
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row">
              <div class="form-group col-lg-4">
                <label for="input1">From:</label>
                <select name="input1" id="input1" class="form-control">
                <option value="">Select Port</option>
                <option value="">Port Everglades, Fort Lauderdale</option>
                <option value="">Port of Miami, Miami, Florida, EE. UU.</option>
                <option value="">Port of Palm Beach</option>
                </select>
              </div>
              <div class="form-group col-lg-8">
                <label for="input2">To:</label>
                <select name="input2" id="input2" class="form-control selecth2">
                  <option>SELECT HOTEL</option>
                  <option *ngFor="let item of myArray" [value]="item">{{ item }}</option>
                </select>
              </div>
            </div>
              <div class="row mt-2">
              <div class="form-group col-lg-3">
                <button type="button" class="toairport btn btn-primary mx-2"><i class="bx bx-trip"> </i> Miles</button>
                <button type="button" class="toairport btn btn-primary"> <i class="bi bi-clock"> </i> Seconds</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3395.0236540427587!2d-80.19179018495772!3d25.76167971669764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a9444b65f5%3A0x9f8cb5c8c5f923b1!2sMiami%2C%20Florida%2C%20USA!5e0!3m2!1sen!2sca!4v1639998050368!5m2!1sen!2sca" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </section>

  <section id="portfolio" class="portfolio">
    <div class="text-center"><h1>FLEET</h1></div>
    <div class="container">
      <div class="row portfolio-container wrapper" data-aos="fade-up">
  
        <div class="one col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-inner">
            <img src="/assets/img/suburban.jpg" alt="Suburban Image" class="img-fluid">
            <h6 class="portfolio-title">SUBURBAN</h6>
            <h6 class="text-center mt-2">6 PASSANGERS 7 LUGGAGES</h6>
            <div class="overlay">
              <button class="btn btn-checkout">
                <i class="bx bx-credit-card"></i> Checkout
              </button>
              <button class="btn btn-add-to-cart">
                <i class="bx bx-cart"></i> Add to Cart
              </button>
            </div>
            <div class="form-group">
            <input type="datetime-local" id="mdh" class="form-control" placeholder="Select date and time">
            </div>
            <div class="text-center mt-3 mb-2">
              <span class="bx bx-info-circle icono mb-2" data-bs-toggle="modal" data-bs-target="#myModal"></span>
            </div>
          </div>
        </div>
  
        <div class="two col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-inner">
            <img src="/assets/img/sprinter.jpg" alt="Sprinter Image" class="img-fluid">
            <h6 class="portfolio-title">EXECUTIVE SPRINTER - 11 PASSENGERS</h6>
            <h6 class="text-center mt-2">11 PASSANGERS 15 LUGGAGES</h6>
            <div class="overlay">
              <button class="btn btn-checkout">
                <i class="bx bx-credit-card"></i> Checkout
              </button>
              <button class="btn btn-add-to-cart">
                <i class="bx bx-cart"></i> Add to Cart
              </button>
            </div>
            <input type="datetime-local" id="mdh" class="form-control" placeholder="Select date and time">
            <div class="text-center mt-3 mb-2">
              <span class="bx bx-info-circle icono mb-2" data-bs-toggle="modal" data-bs-target="#myModal2"></span>
            </div>
          </div>
        </div>
  
        <div class="three col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-inner">
            <img src="/assets/img/band.jpg" alt="Band Image" class="img-fluid">
            <h6 class="portfolio-title">EXECUTIVE SPRINTER - 14 PASSENGERS</h6>
            <h6 class="text-center mt-2">14 PASSANGERS 14 LUGGAGES</h6>
            <div class="overlay">
              <button class="btn btn-checkout">
                <i class="bx bx-credit-card"></i> Checkout
              </button>
              <button class="btn btn-add-to-cart">
                <i class="bx bx-cart"></i> Add to Cart
              </button>
            </div>
            <input type="datetime-local" id="mdh" class="form-control" placeholder="Select date and time">
            <div class="text-center mt-3 mb-3">
              <span class="bx bx-info-circle icono mb-2" data-bs-toggle="modal" data-bs-target="#myModal3"></span>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>

<!-- modals-->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">SUBURBAN</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <img src="/assets/img/suburban.jpg" class="img-fluid" alt="Suburban Image">
          <p class="text-justify mt-3" style="max-width: 100%;">
            The Chevrolet Suburban is a full-size SUV that can seat up to nine people in three rows. 
            A large cargo area offers plenty of space for a large family's stuff, and the spacious 
            passenger area offers room to stretch out.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!---->
  <div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">EXECUTIVE SPRINTER - 11 PASSENGERS</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <img src="/assets/img/sprinter.jpg" class="img-fluid" alt="Sprinter Image">
          <p class="text-justify mt-3" style="max-width: 100%;">
            This van is a luxurious mobile office and traveling meeting space. Designed to meet the requirements of executive lifestyles.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  
  <!---->
  <div class="modal fade" id="myModal3">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">EXECUTIVE SPRINTER - 14 PASSENGERS</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <img src="/assets/img/band.jpg" class="img-fluid" alt="Sprinter Image">
          <p class="text-justify mt-3" style="max-width: 100%;">
            This executive van frequently gets used to handle business trips to the airport or to shuttle a wedding party. 
            No matter your purpose, expect to get where you need to go on time and without any unnecessary stress.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
